/* para estandarizar todo y dejar valores en ceros */
*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    list-style: none;
}
/* organizar el header y no se encime todo */
.container-header{
    display: flex;
    margin: 20px 40px;
    justify-content: space-around;
    flex-direction: row;
   /*  width: 100%;
    height: 10%;
    padding: 1%; */ /* prueba para acomodar elementos del header */
}

.boton2{
    border: 0;
    background-color: white;
    font-size: 1.2em;
}
@media screen and (max-width:720px){

    .caja-busqueda{
        width: 5%;

    }
    .boton2{
        border: 0;
        color: white;
        background-color: rgb(0, 0, 0);
        padding: 25%;
       border-radius: 25px 25px 25px 25px;
       display: inline;
        } 
       #flechita{
        display: none;
        }    
    
}

/* cambiar de color al pasar por encima en algun icono, incluyendo el logo */
.icono:hover {
    background-color: rgb(204, 204, 204);
    border-radius: 25%;
}
/* darle un tamaño al icono de fecla hacia abajo */
#flechita{
    width: 20px;
    height: 20px;
}
/* prueba para ver que seleccionara bien los Li y probar los after y before */
/* .menu-horizontal >li:after{
    display: inline;
    background-color: blue;
    color: brown;
} */
/* darle un tamaño a iconos */
.icono{
    width: 30px;
    height: 30px;
    margin: 10px 10px 10px 10px ;
}
/* darle un tamaño y estilo a la caja de busqueda */
.caja-busqueda{
    width: 60%;
    height: 90%;
    border: 0;
    background-color: rgb(234, 234, 234);
    padding: 20px;
    border-radius: 50px 50px 50px 50px;    
} 
/* cambair color de caja de busqueda al pasar cursor */
input:hover{
    background-color: rgb(206, 205, 205);
}
/* darle un tamaño y estilo a menus que estan fijos */
.menu-horizontal{
display: flex;
justify-content: space-around;
display: inline;
padding: 10px;
}
/* darle un tamaño y estilo a menus que estan fijos */
.menu-horizontal  > li > a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    flex-wrap: wrap;
    
}
/* cambair color los menus fijos al pasar cursor */
.menu-horizontal > li:hover{
    background-color: rgb(204, 204, 204);
    border-radius: 10px 10px 10px 10px ;
}
/* darle un tamaño y estilo a menus que se despliegan */
.menu-vertical{
    position: absolute;
    display: none;
    width: 200px;
    color: black;
    /* background-color: blue; */ /* solo para probar el tamaño del menu */
    border-radius: 20px 20px 20px 20px ;
    box-shadow: 2px 5px 5px 1px rgba(0,0,0,0.15);
    background-color: white;
}
/* darle un tamaño y estilo a menus que se despliegan, este me ayudo a separar el menu de la izquerda ya que se desboradaba fuera de la pantalla */
.Vperfil{
    box-shadow: -2px 5px 5px 1px rgba(0,0,0,0.15);
    position:absolute;
    right: 3%;

}
/* hacer que menus que se despliegan  aparezcan al pasar cursor */
.menu-horizontal:hover .menu-vertical{
    display: block; /* para cambiar de display none a block cuando se pase el cursor, es decir, se use el hover */
}
/* cambair color los menus que se despliegan al pasar cursor */
.menu-vertical li:hover{
    background-color: rgb(244, 241, 241);
    border-radius: 20px 20px 20px 20px ;
    
}
/* darle un tamaño y estilo a menus que se despliegan */
.menu-vertical li a{
    display: block;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
    color: black;  
}

/* darle un tamaño y estilo a menus que se despliegan */
.tituloDelSubmenu {
    font-size: .8em;
    color: grey;
    padding: 5px 0px 5px 2px;
}
/* para dar grid y estilos a todo el main */
.container-main/* , .item */{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(110px,auto);
    padding: .5em;
    gap: .7em; 
}

 .item {
    /* background-repeat: no-repeat; */  /* prueba para mejorar las imagenes  */
    background-size: cover; /* este quedo mejor que la prueba anterior  */
    border-radius: 25px 25px 25px 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: end;
    align-items: end;
    


}


/* aprendi los filtros, use esta seccion para volver mas obscura cada imagen al pasar el cursor */
 .item:hover{
    filter:brightness(90%);
    /* filter: blur(3px); */
    /* filter: grayscale(100%); */
    
 }

 /* para eleguir cuantos espacios de grid usar en filas, si uso grid-colum ser espacios en columnas, solo acepta numeros enteros */
.Ch{grid-row: span 1;}
.Md{grid-row: span 2;}
.Md2{grid-row: span 3;}
.Gr{grid-row: span 4;}
 /* para que aparzcan los botones dentro de cada imagen */
.item:hover > .prueba{
    display: block;
 }
/* para dale estilo a la caja que tendra los botones dentro de las imagenes */ 
.prueba{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: end;
    align-items: end;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */ /* solo para probar bordes y espacio que estaba editando  */
    display: none;
    border-radius: 25px 25px 25px 25px;

}
/* para dale los botones dentro de las imagenes */ 
.boton{
    border: 0;
    color: white;
    background-color: red;
    padding: 15%;
   margin-top: 10%;
   margin-right: 10%;
   border-radius: 25px 25px 25px 25px;
}
/* para dale los botones dentro de las imagenes */  
.carta{
    border-radius: 50% 50% 50% 50%;
    margin: 40% 0% 0% 35%;
    padding: 0%;
    border: 0%;
}

